p, a {
  font-size: 13px; }

body {
  background-color: #ebeef0;
  margin-bottom: 45px; }

.backround-white {
  background-color: #fff; }

.main-content {
  margin-top: 15px;
  padding-top: 20px; }

.margin-top-zero {
  margin-top: 0; }

.div-section-header-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0 6px; }

.menu-item-counter {
  min-height: 25px;
  min-width: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  background-color: #44a3db;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.margin-right-radio {
  margin-right: 10px; }

.margin-bottom-zero {
  margin-bottom: 0; }

.div-choose-role {
  outline: 1px solid #ccc;
  padding: 0;
  max-width: 463px; }

.upload-drop-zone {
  height: 200px;
  border-width: 2px; }

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center; }

.upload-drop-zone.drop {
  color: #222;
  border-color: #222; }

.badge-header {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  outline: 1px solid #ccc;
  padding: 5px 0; }

.div-badge {
  height: 541px;
  width: 100%; }

.download-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.color-red {
  color: red; }

.download-requirements-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.div-download-badge-template {
  margin-top: 10px; }

.glyphicon {
  margin-right: 5px; }

.div-choose-role-color {
  margin-top: 30px; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin-top: 17px;
  list-style: none; }

.li-role-color-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.colorpicker-component {
  margin-left: 30px; }

.button-add-role {
  margin-left: auto; }

.div-buttons-list-end {
  padding-bottom: 80px; }

.table > tbody > tr > td {
  vertical-align: middle; }

.modal-empty-badge-amount,
.modal-empty-badge-role {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-empty-badge-amount {
  margin-top: 15px; }

.modal-empty-badge-amount p,
.modal-empty-badge-role p {
  margin-right: 20px; }

@-ms-viewport {
  width: device-width; }

@media only screen and (max-width: 400px) {
  p, ul li, ol li, a {
    font-size: 16px !important; }
  h1 {
    font-size: 30px !important; }
  h2 {
    font-size: 26px !important; }
  h3 {
    font-size: 20px !important; }
  h1 a {
    font-size: 30px !important; }
  h2 a {
    font-size: 26px !important; }
  h3 a {
    font-size: 20px !important; }
  .es-menu td a {
    font-size: 16px !important; }
  .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a {
    font-size: 16px !important; }
  .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a {
    font-size: 16px !important; }
  .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a {
    font-size: 12px !important; }
  .adapt-img {
    width: 100% !important;
    height: auto !important; }
  .es-hidden {
    display: none !important; }
  .btn {
    font-size: 12px !important; }
  .img-qr {
    width: 50px !important; }
  .div-badge {
    height: 430px !important; }
  .p-scan {
    font-size: 9px !important; } }

#outlook a {
  padding: 0; }

.ExternalClass {
  width: 100%; }

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%; }

.es-button {
  mso-style-priority: 100 !important;
  text-decoration: none !important; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.drop-area {
  border: 2px dashed #ccc;
  width: 480px;
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  color: #44a3db; }

.drop-area.highlight {
  border-color: purple; }

.labelFile {
  background-color: white !important;
  border: none !important; }

p {
  margin-top: 0; }

.my-form {
  margin-bottom: 10px; }

#gallery {
  margin-top: 10px; }

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle; }

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #ccc; }

.button:hover {
  background: #ddd; }

.file-input {
  display: none; }

.input-group-addon {
  width: 38px;
  height: 38px;
  border-left: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da; }
  .input-group-addon i {
    display: inline-block;
    cursor: pointer;
    height: 38px;
    width: 38px; }

.btn-blue {
  background-color: #fff;
  border: 1px solid #44a3db;
  color: #44a3db; }

.btn-blue:hover {
  background-color: #007bff;
  color: #fff; }

.close {
  color: #e75f5f; }

.close:hover {
  color: #d81111 !important; }

.font-13 {
  font-size: 13px; }

.btn {
  white-space: normal !important;
  max-width: 98vw; }
