body {
  background-color: #ebeef0;
  margin-bottom: 45px; }

.backround-white {
  background-color: #fff; }

.main-content {
  margin-top: 15px;
  padding-top: 20px; }

.margin-top-zero {
  margin-top: 0; }

.div-section-header-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0 6px; }

.menu-item-counter {
  height: 25px;
  width: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  background-color: #44a3db;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.margin-right-radio {
  margin-right: 10px; }

.margin-bottom-zero {
  margin-bottom: 0; }

.div-choose-role {
  outline: 1px solid #ccc;
  padding: 0; }

.upload-drop-zone {
  height: 200px;
  border-width: 2px; }

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center; }

.upload-drop-zone.drop {
  color: #222;
  border-color: #222; }

.badge-header {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  outline: 1px solid #ccc;
  padding: 5px 0; }

.div-badge {
  height: 541px;
  width: 100%; }

.download-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.color-red {
  color: red; }

.download-requirements-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.div-download-badge-template {
  margin-top: 10px; }

.glyphicon {
  margin-right: 5px; }

.div-choose-role-color {
  margin-top: 30px; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin-top: 17px;
  list-style: none; }

.li-role-color-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.colorpicker-component {
  margin-left: 30px; }

.button-add-role {
  margin-left: auto; }

.div-buttons-list-end {
  padding-bottom: 80px; }

.table > tbody > tr > td {
  vertical-align: middle; }

.modal-empty-badge-amount,
.modal-empty-badge-role {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-empty-badge-amount {
  margin-top: 15px; }

.modal-empty-badge-amount p,
.modal-empty-badge-role p {
  margin-right: 20px; }

@-ms-viewport {
  width: device-width; }

@media only screen and (max-width: 600px) {
  p, ul li, ol li, a {
    font-size: 16px !important; }
  h1 {
    font-size: 30px !important;
    text-align: center; }
  h2 {
    font-size: 26px !important;
    text-align: center; }
  h3 {
    font-size: 20px !important;
    text-align: center; }
  h1 a {
    font-size: 30px !important; }
  h2 a {
    font-size: 26px !important; }
  h3 a {
    font-size: 20px !important; }
  .es-menu td a {
    font-size: 16px !important; }
  .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a {
    font-size: 16px !important; }
  .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a {
    font-size: 16px !important; }
  .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a {
    font-size: 12px !important; }
  *[class="gmail-fix"] {
    display: none !important; }
  .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 {
    text-align: center !important; }
  .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 {
    text-align: right !important; }
  .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 {
    text-align: left !important; }
  .es-m-txt-r a img, .es-m-txt-c a img, .es-m-txt-l a img {
    display: inline !important; }
  .es-button-border {
    display: block !important; }
  .es-button {
    font-size: 20px !important;
    display: block !important;
    border-width: 10px 0px 10px 0px !important; }
  .es-btn-fw {
    border-width: 10px 0px !important;
    text-align: center !important; }
  .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right {
    width: 100% !important; }
  .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header {
    width: 100% !important;
    max-width: 600px !important; }
  .es-adapt-td {
    display: block !important;
    width: 100% !important; }
  .adapt-img {
    width: 100% !important;
    height: auto !important; }
  .es-m-p0 {
    padding: 0px !important; }
  .es-m-p0r {
    padding-right: 0px !important; }
  .es-m-p0l {
    padding-left: 0px !important; }
  .es-m-p0t {
    padding-top: 0px !important; }
  .es-m-p0b {
    padding-bottom: 0 !important; }
  .es-m-p20b {
    padding-bottom: 20px !important; }
  .es-hidden {
    display: none !important; }
  table.es-table-not-adapt, .esd-block-html table {
    width: auto !important; }
  table.es-social {
    display: inline-block !important; }
  table.es-social td {
    display: inline-block !important; } }

#outlook a {
  padding: 0; }

.ExternalClass {
  width: 100%; }

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%; }

.es-button {
  mso-style-priority: 100 !important;
  text-decoration: none !important; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

#drop-area {
  border: 2px dashed #ccc;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px; }

#drop-area.highlight {
  border-color: purple; }

p {
  margin-top: 0; }

.my-form {
  margin-bottom: 10px; }

#gallery {
  margin-top: 10px; }

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle; }

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #ccc; }

.button:hover {
  background: #ddd; }

#fileElem {
  display: none; }
